*
{
	margin: 0;
	padding: 0;
}

html
{
	height: 100%;
}

body
{
	font-size: 1vw;
	height: 100%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

section
{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

article
{
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

#members h1
{
	font-size: 200%;
}

#members ul
{
	width: auto;
	list-style: none;
	text-align: center;
	margin: 2%;
	font-size: 120%;
	border-radius: 50%;
	background-color: #4CAF50;
	padding: 1.5%;
	transition-duration: 1s;
}

#members ul:hover
{
	transition-duration: 1s;
	padding: 5%;
}

#members li
{
	margin: 5% 0;
}

#formsArticle
{
	background-color: #EFEFEF;
}

/* General form */
form
{
	margin: 3%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

label, h3
{
	margin: 0 1%;
	font-size: 1vw;
	width: 15%;
}

input[type="submit"], button
{
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 1vw;
}
  
input[type="submit"], button
{
	background-color: #4CAF50;
	margin: 0 0.5%;
}

input[type="submit"]:hover, button:hover
{
	background-color: green;
}

input[type="text"]
{
	width: 10vw;
	padding: 2%;
	margin: 2%;
	border-radius: 10px;
}

/* POST form */
.input-wrapper
{
	width: 40%;
	margin: 1%;
	position: relative;
	overflow: hidden;
	display: inline-block;
}
  
.input-wrapper input[type="file"]
{
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
  
.custom-file-upload
{
	display: inline-block;
	width: auto;
	padding: 5% 5%;
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
